<div class="question_container">

    <% if @question.errors.any? %>
        <strong>Please correct the following:</strong>
        <ul>
            <% @question.errors.full_messages.each do |e| %>
            <li><%= e %></li>
            <% end %>
        </ul>
    <% end %> 

    <%= form_with model: @question, local: true, html: { multipart: true } do |f| %>

    
        <%= f.label :'Would You Rather'%>
        <br><br>

        <%= f.text_area :'opt_A' , placeholder: 'enter option A here', class: 'new_or_edit_text_box' %>
        <br><br>

        <%= f.label :'or' %>
        <br><br>

        <%= f.text_area :'opt_B', placeholder: 'enter option B here', class: 'new_or_edit_text_box' %>
        <br><br>

        <%= f.label :'?' %>
        <br><br>

        <%= f.button :Submit, class: "question_edit_new_button" %>
        <br><br>

        <br><br>
        <%= f.label :'thumbnail_image' %>
        <%= f.file_field :'thumbnail_image' %>

        <br><br>
        <br><br>
        <button id="question_cancel_button" class="question_edit_new_button">
        
            <%= link_to 'Cancel', root_path %>
        
        </button>

    <% end %>

</div>
