<div class="question_container">

    <% if @question.errors.any? %>
        <strong>Please correct the following:</strong>
        <ul>
            <% @question.errors.full_messages.each do |e| %>
            <li><%= e %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_with model: @question, local: true do |f| %>

    
        <%= f.label :'Would You Rather'%>
        <br><br>

        <%= f.text_field :'opt_A' , placeholder: 'enter option A here' %>
        <br><br>

        <%= f.label :'or' %>
        <br><br>

        <%= f.text_field :'opt_B', placeholder: 'enter option B here' %>
        <br><br>

        <%= f.label :'?' %>
        <br><br>
    

        <%= f.button :submit, placeholder: 'submit' %>


    <% end %>
</div>
