<div id="question_main_container">

<div id="question_container">
    
    <p class="wyr_text">"Would you rather</p> 
    <p id="part_a_text"><strong><%= @question.opt_A %></strong></p> 
    <p class="wyr_text"> or </p>
    <p id="part_b_text"><strong><%= @question.opt_B %></strong></p>
    <p class="wyr_text">?"</p>

</div>





<% if @question.tallies.length == 0 %> 
        
        <div id="question_show_no_data_available">
            <h5>No Data Available At This Time.</h5>
        </div>
  
<% else %>
    
    <h3 id="prev_choice_start">Others Chose...</h3>
    
    <p id="prev_choice_mid">Option A:</p>

    <div id="opt_a_total_container">
        <h3 class="opt_a_total"><%=@opt_a_as_percentage.round%>%</h3>
        <p class="opt_a_total">(or <%=@opt_a_total%> of <%=@question.tallies.length%> total choices)</p> 
    </div>

    <p id="prev_choice_end">Option B:</p>

    <div id="opt_b_total_container">
        <h3 class="opt_b_total"><%= @opt_b_as_percentage.round %>%</h3>
        <p class="opt_b_total">(or <%=@opt_b_total%> of <%=@question.tallies.length%> total choices)</p> 
    </div>

    <div id="visual_of_choices">
        <% if @opt_a_as_percentage > 0 %>
            <div id="option_a_box" style="width:<%=@opt_a_as_percentage%>%"></div>
        <% end %>
        
        <% if @opt_b_as_percentage > 0 %>
            <div id="option_b_box" style="width:<%=@opt_b_as_percentage%>%"></div>
        <% end %>
    </div>
    
<% end %> <!-- closes if/else/end -->

<% if @question.thumbnail_image.present? %>
    <%# <%= cl_link_to("image_link", width:400, height:300) %> %>
<% end  %>

<% if @current_user.present? && @current_user.id == @question.user_id %>
    <div id="edit_question_link_container">
        
        <p> We noticed this was <em>your</em> question, would you like to
        <%= link_to 'edit this WYR', edit_question_path(@question), id: "edit_question_link"%>?
        </p>
    </div>



<% end %> <!-- closes edit this Question link -->

<div class="question_next_container">
    <%= link_to "Next WYR", root_path, class: "question_next_link"  %>
</div>

</div>