
<div id="user_info_main_container">
<div id="user_info_name_container">
    <p class="user_info_name">Display Name:</p> 
    <h3 class="user_info_name"><%= @current_user.name %></h3>
<br>

</div>

<div id="user_info_email_container">
<br>
    <p class="user_info_email">Email:</p>
    <p class="user_info_email"><%= @current_user.email %></p>
</div>

<div id="user_info_dob_container">
    <p class="user_info_dob">Dob:</p>  
    <p class="user_info_dob"><%= @current_user.dob.strftime("%d-%m-%Y")%></p> 
<br>
    
</div>

<div id="user_info_made_questions_container">
    
    <ul>
        <h4>Questions made by, <%= @current_user.name %>:</h4>
        <% @questions.each do | question | %>

            <li class="user_info_made_question">
                <%= link_to 'Question', question_path(question.id) %>
            </li>
    
        <% end %>

    </ul>

</div> 


<div id="user_info_tallies_made">

    <ul>
        <h4><%= @current_user.name %> answered the following...</h4>
        <% @current_user.tallies.each do | tally | %>

            <li>
            Answered <%= tally.question_answer %> 
            to question <%= tally.question.id %>
            </li>

        <% end %>

    </ul>

</div>

</div>