<!DOCTYPE html>
<html>
  <head>
    <title>WouldYouRather</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <%= cloudinary_js_config %>

    <%# <script>
      const questions = <%= @four_new_qs %>
    <%# </script> %> 
  
  </head>


  <body id="main_body_background_image">

    <%= inline_svg_tag "background.svg", id: "swirl" %>

    <div id="main_body_contents_container">

      <div id="menu_container">

        <header id="nav_header" class="menu_item">

          <nav id="nav_bar">

              <% if @current_user.present? %>
                Welcome, <%= " #{@current_user.name}" %>,
                |
                <%= link_to 'Profile', @current_user, class: "nav_bar_item" %>
                |
                <%= link_to 'Logout', login_path, method: 'delete', class: "nav_bar_item" %>
                |
                <%= link_to 'WYR: New', new_question_path, class: "nav_bar_item"  %>
                |

              <% else %>
              
                <%= link_to 'Login', login_path, class: "nav_bar_item" %>
                |
                <%= link_to 'Sign Up', new_user_path, class: "nav_bar_item" %>
              
              <% end %>   <!--  -->

          </nav>

        </header> <!-- closes header -->

        <footer id="main_footer" class="menu_item">

          &copy;2022. WillYolandaRing
        </footer> <!-- closes footer -->
      </div>

      <%= yield %>
          
      


    </div> <!-- closes main_body_contens_container -->


  </body> <!-- closes body -->

</html>
